@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body
{
    width: 100%;
    min-height: 100vh;
    
    background-color: #aaaa;
 /* background-image:url("bg2.jpg");*/
   
   
}


.main
{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 135px;
}
.header
{
    display: flex;
    justify-content: space-between;
    flex-direction: wrap;
    
}

.header h1{
    text-shadow: 5px 10px 15px rgba(0,0,0,.3);
    letter-spacing:8px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left:2%;
    margin-top:2% ;
    color:  blueviolet;

}
.header a{
    text-decoration: none;
    margin-right:1%;
    font-size:larger;
    font-family:sans-serif;
    font-weight: bold;
    font-style:inherit;
    color:blue;
}
.header a:hover
{
 color:peru;
 letter-spacing:2px;
}
.card
{
    margin: 2em;
    width: 350px;
    border-radius: 17px;
    overflow: hidden;
    box-shadow: 5px 10px 15px rgba(0,0,0,.3);
    transition: transform .4s;
    background-color: #fff;

   
}

.card:hover
{
    transform: scale(1.1);
}
.card h1
{
    font: 3em sans-serif;
    align-items: center;
    justify-content: center;
    margin: 25px;
    font-size: 45px;
    background-color: #fff;
    

}
.card #button
{
    width: 100%;
    height:60px;
    background-color: #3f93d8;
    border-style: none;
    cursor: pointer;
    font-size: 23px;
}
.card #button:hover
{
    background-color: #e60e68;
    letter-spacing: 2px;
}
